<html>
<head>
	<title>My Site</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	                    <!--===========================FreiChat=======START=========================-->
<!--	For uninstalling ME , first remove/comment all FreiChat related code i.e below code
	 Then remove FreiChat tables frei_session & frei_chat if necessary
         The best/recommended way is using the module for installation                         -->

<?php
$ses=null;

if(!function_exists("freichatx_get_hash")){
function freichatx_get_hash($ses){

       if(is_file("C:/wamp/www/elective_project/FreiChat.V.9.6/freichat/hardcode.php")){

               require "C:/wamp/www/elective_project/FreiChat.V.9.6/freichat/hardcode.php";

               $temp_id =  $ses . $uid;

               return md5($temp_id);

       }
       else
       {
               echo "<script>alert('module freichatx says: hardcode.php file not
found!');</script>";
       }

       return 0;
}
}
?>
<script type="text/javascript" language="javascipt" src="http://localhost/elective_project/FreiChat.V.9.6/freichat/client/main.php?id=<?php echo $ses;?>&xhash=<?php echo freichatx_get_hash($ses); ?>"></script>
	<link rel="stylesheet" href="http://localhost/elective_project/FreiChat.V.9.6/freichat/client/jquery/freichat_themes/freichatcss.php" type="text/css">
<!--===========================FreiChatX=======END=========================-->                


</head>
<body>
	<div class="container">
		<div class="header">
		</div>
		<div class="name">
			<h1>Alfred Melendres</h1>
			<h4>Gwapo.Hot.Sexy</h4>
		</div>
		<div class="icon">
			<div class="pic">
				<img src="got.jpg">
			</div>
		</div>
		<div class="nav">
			<ul>
				<li><button type="button" class="btn btn-default">Posts</button></li>
				<li><button type="button" class="btn btn-default">About</button></li>
				<li><button type="button" class="btn btn-default">Buddies</button></li>
				<li><button type="button" class="btn btn-default" >Photos</button></li>
				<li><button type="button" class="btn btn-default">Pages</button></li>
			</ul>
		</div>
		<div class="content">
			<div class="post">
				<div class="postpic">
					<img src="got.jpg">
				</div>
				<div class="fave">
					<button type="button">Favorite</button>
				</div>
				<div class="comment">
					<button type="button">Comment</button>
				</div>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac dolor ipsum. Etiam tortor ligula, congue condimentum tempus eu, porttitor sed ante. Nam ac est interdum, porttitor nunc eu, volutpat nibh. Curabitur sit amet elit id lorem dignissim fringilla. Aliquam sodales purus ut massa consequat pulvinar. Nam pulvinar, elit eu tempus tristique, nisl elit faucibus leo, in hendrerit nisl libero sed felis. Mauris lacinia interdum massa a fermentum. Etiam eget purus auctor, ultricies erat a, semper purus. Ut ligula urna, gravida id consectetur eget, scelerisque non orci. Sed malesuada eros quis metus sodales tempor. Ut faucibus arcu eget augue fringilla dapibus. Vestibulum rutrum consectetur erat et varius. Aliquam erat volutpat.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>